.container__small-card{
    width: 500px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 12px;
}
.small-card__pic > img{
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
}
.small-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    margin-top: 10px;
}